.profile-pic {
  position: relative;
  width: 220px;
  height: 220px;
  border-radius: 25%;
  align-content: center;
  display: block;
  margin: 20px auto;
}
@media screen and (max-width: 600px) {
  .py-5 {
    padding-top: 1rem !important;
  }
}
