body {
  background: var(--main-background-color);
  font-size: 15px;
  font-weight: 500;
  color: var(--default-fontcolor);
}

section {
  margin: 8vh 0 8vh 0px;
}
.card {
  position: relative;
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-clip: initial;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1.2rem;
  background-color: var(--card-background-color);
  border: none;
  border: 3px solid rgba(30, 144, 255, 0.1);
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
  // box-shadow: 0 0.46875rem 1.1875rem rgba(30, 144, 255, 0.7),
  //   0 0.9375rem 1.40625rem rgba(115, 185, 223, 0.6),
  //   0 0.25rem 0.53125rem rgba(0, 101, 162, 0.6), 0 0.125rem 0.1875rem #5a61691a;
}

/*
Flex derection of the contents of the row
*/
.card .flex-row {
  flex-direction: row;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card .flex-col {
  flex-direction: column;
}

.profile-pic {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 25%;
}

/* Titles */
hr {
  margin-top: 1vh;
  margin-left: 0;
  border: 0;
  height: 4px;

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from($blue),
    to(#f14bf0)
  );

  background-image: linear-gradient(to right, $blueDarker, $blueLight);
  border-radius: 9px;
  width: 70%;
  z-index: -1;
  &.center {
    margin-left: auto;
  }
}

.titles {
  display: inline-block;
  color: var(--default-titles);
}

h3,
h4,
span {
  &.dark {
    // text-transform: uppercase;
    background: linear-gradient(to right, $blueDark 0%, $blueLight 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
