@import "./global/global";

body {
  background: $main-background-color;
  font-size: 15px;
  font-weight: 500;
 color:$default-fontcolor;
}

.card {
  position: relative;
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-clip: initial;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-color: $main-background-color;
  border: none;
  border-radius: 0.925rem;
  box-shadow: 
    0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}

/*
Flex derection of the contents of the row
*/
.card .flex-row {
  flex-direction: row;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card .flex-col {
  flex-direction: column;
}

.profile-pic {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 25%;
}

/* Titles */
hr {
  margin-top:1vh;
  margin-left:0; 
  border: 0;
  height: 4px;
  
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from($blue),
    to(#f14bf0)
  );

  background-image: linear-gradient(to right, $blueDarker, $blueLight);
  border-radius: 9px;
  width: 70%;
  z-index: -1;
  &.center{
  margin-left:auto;     
  }
}

span  {
  &.titles{
    display: inline-block;
  }
}
