/*
Reset the bootstrap styling to the costumized styling of my own
*/
.row {
  margin-right: 0px;
  margin-left: 0px;
}

/*
General Styling for the page
*/

body {
  zoom: 0.95;
  background: var(--main-background-color);
  font-size: 15px;
  font-weight: 400;
  color: var(--default-fontcolor);
}

section {
  margin: 8vh 0 8vh 0px;
}
.card {
  position: relative;
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-clip: initial;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1.2rem;
  background-color: var(--card-background-color);
  border: none;
  box-shadow: var(--default-border-shadow);
  &:hover {
    box-shadow: 0 24px 48px 10px rgba(35, 51, 64, 0.35) !important;
    transform: translateY(-2px);
  }
}

/*
Flex derection of the contents of the row
*/
.card .flex-row {
  flex-direction: row;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card .flex-col {
  flex-direction: column;
}

.profile-pic {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 25%;
}

/* Titles */
hr {
  margin-top: 1vh;
  margin-left: 0;
  border: 0;
  height: 4px;

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from($blue),
    to(#f14bf0)
  );

  background-image: linear-gradient(to right, $blueDarker, $blueLight);
  border-radius: 9px;
  width: 70%;
  z-index: -1;
  &.center {
    margin-left: auto;
  }
}

.titles {
  display: inline-block;
  color: var(--default-titles);
}

h3,
h4,
span {
  &.dark {
    // text-transform: uppercase;
    background: linear-gradient(to right, $blueDark 0%, $blueLight 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
