@import "./mini-components/blob.scss";
@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

/*
Nav Items and the navigation bar
*/

.responsive-headline {
  color: var(--responsive-headline-color);
  font-size: 10vmin;
  line-height: 1;
  font-weight: bold;
  //   letter-spacing: 1px;
  font-family: Arial, sans-serif !important;
  //   text-transform: uppercase;
  text-align-last: left;
}
h2 {
  font-family: "Questrial", sans-serif;
  //   font-weight: normal;
  line-height: 1.2;
  strong {
    font-weight: bold;
    font-size: 2.8rem;
    color: red;
  }
  .location {
    font-size: 2rem;
    padding: 2px 5px 2px 5px;
    border-radius: 8px;
    background-color: var(--blue);
  }
  @media screen and (max-width: 600px) {
    line-height: 1;
    strong {
      font-weight: bold;
      font-size: 1.8rem;
      color: red;
    }
    .location {
      font-size: 1.4rem;
    }
  }
}

/*
 The center text section
*/
#header-content {
  background-color: var(--card-background-color);
}
.header-section-inner {
  display: block;
  position: relative;
  left: 18%;
  width: 40%;
  padding-top: 10vh;
  // transform: translate(-60%, -60%);
  @media screen and (max-width: 600px) {
    width: 80%;
    padding-top: 20vh;
  }
}
.header-selction {
  background-color: var(--card-background-color);
  top: 0;
  width: 100%;
}

/*
!! Important
Handling for responsiveness of the website
*/
@media only screen and (max-width: 1026px) {
  .nav-container {
    display: none;
  }
  #about,
  #resume {
    padding: 0px 8vw;
  }
}

.nav-container {
  width: 70%;
  margin: auto;
  font-size: 1.2rem;
}

.current {
  // height: 50px;
  background-color: $blueLight;
  padding-bottom: 1%;
  border-radius: 0px 0px 45% 45%;
  z-index: 0;
  a {
    color: white !important;
    font-size: 1.4rem;
  }
}
