.circle {
  position: relative;
  width: 120px;
  height: 120px;
}

.circle img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  /* border-radius:50%; */
}
.circle svg {
  fill: none;
  stroke: #8a3ab9;
  stroke-linecap: round;
  stroke-width: 3;
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  animation: stroke-draw 6s ease-out infinite alternate;
  /* // animation: stroke-draw 6s cubic-bezier(0.77, 0, 0.175, 1) infinite alternate;  */
}
@keyframes stroke-draw {
  from {
    /* Strokes around the the image */
    stroke: #8a3ab9;
    stroke-dasharray: 1;
  }
  to {
    /* stroke:#cd486b; */
    transform: rotate(180deg);
    stroke-dasharray: 8;
  }
}
