@import "./mini-components/insta-story.scss";
.my-icons{
  max-width:110px;
  margin-bottom: 2vh;
}




.items {
  margin: 1.5rem 0rem;
  padding: 2rem 1rem 2rem 1rem;
  height: fit-content;
}
.items-heading {
  padding: 3rem 0rem;
}
#skills-section {
  width: 85%;
  margin-left: 15%;
  & .skills {
    text-align: center;
  }
}

.badge {
  padding: 1vh;
  font-size: 1rem;
  background: linear-gradient(to right, $blueDarker 0%, $blueLight 100%);
  &:hover {
    background: linear-gradient(to right, $blueDarker 100%, $blueLight 100%);
  }
}
.resume {
  li {
    list-style-type: circle;
  }
}

// For responsive design

@media screen and (max-width: 600px) {
  .circle {
    position: relative;
    width: 80px;
    height: 80px;
    // background-color: white;
  }
  .circle img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    border-radius: 50%;
  }
  .exp-detail {
    flex-direction: row;
  }
  #testimonials {
    display: none;
  }
}
