.quotemark {
  position: absolute;
  color: var(--blue);
  margin-left: -5%;
  margin-top: -2%;
  font-size: 4.4rem;
}

.testimonials-image {
  margin: auto;
  height: 105px;
  border-radius: 50%;
  float: right;
}

.carousel {
  border-radius: 15px;
  padding-bottom: 3vh;
}
