/*
 ===GLOBAL COLORS===
*/
/*
$blueDarker: #00466c;
$blueDark: #0065a2;
$blue: #0080c5;
$blueLight: #2e97cf;
$blueLighter: #73b9df;
$blueLightest: #d4f1f8;
*/

$blueDarker: #00466c;
$blueDark: #1e60ff;
$blue: #1180ff;
$blueLight: #1e90ff;
$blueLighter: #73b9df;
$blueLightest: #d4f1f8;

$greenDarker: #466c00;
$greenDark: #65a200;
$green: #80c500;
$greenLight: #97cf2e;
$greenLighter: #b9df73;
$greenLightest: #f1f8d4;

$redDarker: #6c0067;
$redDark: #a20057;
$red: #c50007;
$redLight: #cf2e77;
$redLighter: #df7397;
$redLightest: #f8d417;

$main-background-color: #ffffff;
