@import "./css/global/global";
:root {
  --dark-mode: #{$dark-mode};
  --normal-mode: #{$normal-mode};
  --dark-card: #{$dark-card};
  --normal-card: #{$light-card};

  --main-background-color: #{$normal-mode};
  --semi-background-color: #f5f6f8;
  --card-background-color: #{$light-card};
  --default-fontcolor: #{$black};
}
.toggle-dark {
  position: absolute;
  top: 1vh;
  right: 1vh;
}
@import "./css/common.scss";
@import "./css/header.scss";
@import "./css/footer.scss";
@import "./css/about.scss";
@import "./css/resume.scss";
@import "./css/portfolio.scss";
@import "./css/contact.scss";
